@model Finances.Database.Entities.Reserve

@{
    ViewData["Title"] = "Edit";
}

<h1>Gerenciar</h1>

<h4>Reserva</h4>
<hr />
<div class="table-container col-12">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <h4 class="font-weight-bold text-primary">Dados</h4>
                    <form asp-action="Edit">
                        <input type="hidden" asp-for="Id" id="hfReserveId" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Goal" class="control-label"></label>
                            <input asp-for="Goal" class="form-control" />
                            <span asp-validation-for="Goal" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Owner" class="control-label"></label>
                            <select asp-for="Owner" class="form-control">
                                <option value="0">Mi Moço</option>
                                <option value="1">Mi Moça</option>
                                <option value="2">Dos Doise</option>
                            </select>
                            <span asp-validation-for="Owner" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DisplayColor" class="control-label"></label>
                            <input asp-for="DisplayColor" class="form-control" type="color"/>
                            <span asp-validation-for="DisplayColor" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Saldo</label>
                            <input class="form-control" disabled value="@((Model.Entries.Sum(e => e.Amount) - Model.LinkedInvestments.Sum(i => i.Amount)).ToString("C"))" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Investido</label>
                            <input class="form-control" disabled value="@(Model.LinkedInvestments.Sum(i => i.Amount).ToString("C"))" />
                        </div>
                        <div class="form-group">
                            <label asp-for="DateCreated" class="control-label"></label>
                            <input asp-for="DateCreated" class="form-control" disabled />
                            <span asp-validation-for="DateCreated" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastUpdate" class="control-label"></label>
                            <input asp-for="LastUpdate" class="form-control" disabled />
                            <span asp-validation-for="LastUpdate" class="text-danger"></span>
                        </div>

                        <div class="form-group d-flex">
                            <a class="btn btn-secondary mr-2" asp-action="Index">Voltar</a>
                            <input type="submit" value="Atualizar Reserva" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex">

        <div class="row table-content">
            <div class="col-md-12">
                <div class="card shadow mb-4" style="max-height: 600px; overflow: auto">
                    <div class="card-body">
                        <div class="d-flex">
                            <h4 class="font-weight-bold text-primary" style="text-align:start; justify-content:start">Lançamentos</h4>
                            <div class="form-group d-flex" style="justify-content: end; padding-left:50px">
                                <div class="col-md-5">
                                    <input class="form-control" id="inNewEntry" type="number" />
                                </div>
                                <button class="btn btn-primary ml-2" id="btnAddNewEntry">Adicionar</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table name="Lançamentos" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Data de lançamento</th>
                                        <th>Valor</th>
                                        <th>Observação</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Entries.OrderByDescending(e => e.DateCreated))
                                    {
                                        <tr>
                                            <td data-order="@(item.DateCreated.Ticks)">@(item.DateCreated.ToString("dd/MM/yyyy"))</td>
                                            <td>@(item.Amount.ToString("C"))</td>
                                            <td>@Html.DisplayFor(modelItem => item.Observation)</td>
                                            <td>
                                                <a><i title="Deletar" class="fas fa-trash text-gray-500 ml-1" onclick="RemoveEntry('@item.Id')"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row table-content">
            <div class="col-md-12">
                <div class="card shadow mb-4" style="max-height: 600px; overflow: auto">
                    <div class="card-body">
                        <div class="d-flex">
                            <h4 class="font-weight-bold text-primary" style="text-align:start; justify-content:start">Investimentos</h4>
                        </div>
                        <div class="table-responsive">
                            <table name="Investimentos" class="table table-bordered" id="dataTableInvestments" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Investimento</th>
                                        <th>Valor</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.LinkedInvestments.OrderByDescending(e => e.DateCreated))
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Investment.Name)</td>
                                            <td>@(item.Amount.ToString("C"))</td>
                                            <td>
                                                <a href="/Investments/Edit/@item.InvestmentId"><i title="Ver detalhes" class="fas fa-eye text-gray-500 ml-1"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
    @@media (min-width: 1200px) {
        .table-container {
            display: flex;
        }

            .table-container .table-content {
                margin-top: 0px;
                margin-left: 20px;
            }
    }
</style>

@section Scripts {
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "pageLength": 5,
                "lengthChange": false,
                "searching": false,
                "order": [[0, 'desc']]
            });

            $('#dataTableInvestments').DataTable({
                "pageLength": 5,
                "lengthChange": false,
                "searching": false,
                "order": [[0, 'desc']]
            });

            $('#btnAddNewEntry').on('click', function () {
                var value = $('#inNewEntry').val();
                var reserveId = "@Model.Id.ToString()";

                if (value && value != 0) {
                    $.ajax({
                        url: "/Reserves/AddEntry/",
                        method: "POST",
                        data: {
                            Amount: value,
                            ReserveId: reserveId.toString(),
                        },
                        beforeSend: function () {
                            return confirm("Tem certeza que deseja adicionar um novo lançamento?");
                        },
                        success: function () {
                            window.location.reload(true);
                        },
                        error: function () {
                            // Handle the error if needed
                        }
                    });
                }
            })
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        // Handle removing a selected entry
        function RemoveEntry(id) {
            $.ajax({
                url: "/Reserves/RemoveEntry/", // Replace with the correct URL
                method: "POST",
                data: {
                    id: id
                },
                beforeSend: function () {
                    return confirm("Tem certeza que deseja remover este lançamento?");
                },
                success: function () {
                    window.location.reload(true);
                },
                error: function () {
                    // Handle the error if needed
                }
            });
        }
    </script>
}
