@using Finances.APP.Models.Reserve;
@model IEnumerable<ReserveViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservas</h1>

<div class="row container-fluid">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    @{
                        var currentD = Model
                        .Where(r => r.Owner == Finances.Database.Enums.AccountUser.Daniel)
                        .Sum(r => r.CurrentAmount);

                        var investedD = Model
                        .Where(r => r.Owner == Finances.Database.Enums.AccountUser.Daniel)
                        .Sum(r => r.InvestedAmount);

                        var percentD = Math.Round(investedD / currentD * 100, 2);

                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total Mi Moço
                            </div>
                            <div class="d-flex">
                                <div class="h5 mb-0 font-weight-bold text-gray-800" title="Investido: @investedD.ToString("C")">
                                    @currentD.ToString("C")
                                    <i class="fas fa-info-circle fa-xs"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters align-items-center d-flex mt-1">
                            <div class="col">
                                <div class="progress progress-sm mr-2">


                                    <div class="progress-bar bg-info" role="progressbar"
                                         style="width: @percentD%" aria-valuenow="50" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="mb-0 mr-3 font-weight-bold text-gray-800">@percentD%</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    @{
                        var currentC = Model
                        .Where(r => r.Owner == Finances.Database.Enums.AccountUser.Cassia)
                        .Sum(r => r.CurrentAmount);

                        var investedC = Model
                        .Where(r => r.Owner == Finances.Database.Enums.AccountUser.Cassia)
                        .Sum(r => r.InvestedAmount);

                        var percentC = Math.Round(investedC / currentC * 100, 2);

                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total Mi Moça
                            </div>
                            <div class="d-flex">
                                <div class="h5 mb-0 font-weight-bold text-gray-800" title="Investido: @investedC.ToString("C")">
                                    @currentC.ToString("C")
                                    <i class="fas fa-info-circle fa-xs"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters align-items-center d-flex mt-1">
                            <div class="col">
                                <div class="progress progress-sm mr-2">


                                    <div class="progress-bar bg-info" role="progressbar"
                                         style="width: @percentC%" aria-valuenow="50" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="mb-0 mr-3 font-weight-bold text-gray-800">@percentC%</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-dark shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    @{
                        var currentDD = Model
                        .Where(r => r.Owner == Finances.Database.Enums.AccountUser.Commmon)
                        .Sum(r => r.CurrentAmount);

                        var investedDD = Model
                        .Where(r => r.Owner == Finances.Database.Enums.AccountUser.Commmon)
                        .Sum(r => r.InvestedAmount);

                        var percentDD = Math.Round(investedDD / currentDD * 100, 2);

                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total dos Doise
                            </div>
                            <div class="d-flex">
                                <div class="h5 mb-0 font-weight-bold text-gray-800" title="Investido: @investedDD.ToString("C")">
                                    @currentDD.ToString("C")
                                    <i class="fas fa-info-circle fa-xs"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters align-items-center d-flex mt-1">
                            <div class="col">
                                <div class="progress progress-sm mr-2">


                                    <div class="progress-bar bg-info" role="progressbar"
                                         style="width: @percentDD%" aria-valuenow="50" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="mb-0 mr-3 font-weight-bold text-gray-800">@percentDD%</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    @{
                        var current = Model
                        .Sum(r => r.CurrentAmount);

                        var invested = Model
                        .Sum(r => r.InvestedAmount);

                        var percent = Math.Round(invested / current * 100, 2);

                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total Acumulado
                            </div>
                            <div class="d-flex">
                                <div class="h5 mb-0 font-weight-bold text-gray-800" title="Investido: @invested.ToString("C")">
                                    @current.ToString("C")
                                    <i class="fas fa-info-circle fa-xs"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters align-items-center d-flex mt-1">
                            <div class="col">
                                <div class="progress progress-sm mr-2">


                                    <div class="progress-bar bg-info" role="progressbar"
                                         style="width: @percent%" aria-valuenow="50" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="mb-0 mr-3 font-weight-bold text-gray-800">@percent%</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3" style="display: flex; justify-content: space-between;">
            <div class="">
                <h6 class="m-0 font-weight-bold text-primary">Reservas atuais</h6>
            </div>
            <div class="">
                <a class="btn btn-primary" asp-action="Create">
                    Nova Reserva
                </a>
            </div>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Owner)</th>
                            <th>@Html.DisplayNameFor(model => model.CurrentAmount)</th>
                            <th>@Html.DisplayNameFor(model => model.InvestedAmount)</th>
                            <th>@Html.DisplayNameFor(model => model.Goal)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Owner)</td>
                                <td>@Html.DisplayFor(modelItem => item.CurrentAmount)</td>
                                <td>@Html.DisplayFor(modelItem => item.InvestedAmount)</td>
                                <td>@Html.DisplayFor(modelItem => item.Goal)</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id"><i title="Editar" class="fas fa-pen text-gray-500 ml-1"></i></a>
                                    <a asp-action="Details" asp-route-id="@item.Id"><i title="Ver Detalhes" class="fas fa-eye text-gray-500 ml-1"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.Id"><i title="Deletar" class="fas fa-trash text-gray-500 ml-1"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>
